@inherits LayoutComponentBase

<PageTitle>Universitile</PageTitle>

<div class="page">
    <main>
        @Body
    </main>
    <RadzenDialog />
    <RadzenNotification />
    <RadzenContextMenu />
    <RadzenTooltip />
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
</div>