.page {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: hidden;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(72, 72, 72) 0%, #222 100%);
}

.top-row {
    background-image: linear-gradient(90deg, rgb(72, 72, 72) 0%, #222 100%);
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.container {
    display: flex;
    flex: 1;
    padding: 0px;
    margin: 0px;
    max-width: 100% !important;
}

.containerleft {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
    padding: 0;
    margin: 0;
    border-left: solid black 1px;
}

.containerright {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.notification {
    display: flex;
    height: inherit;
    width: 3%;
    justify-content: center;
    align-items: center;
    flex-shrink:4;
    padding: 0.5%;
}

.mail {
    display: flex;
    height: inherit;
    width: 3%;
    justify-content: center;
    align-items: center;
    flex-shrink: 4;
    padding: 0.5%;
}

.container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 0.5fr 1.3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". .";
    
}

.Filters {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    /*grid-template-rows: 0.6fr 1.4fr;*/
    gap: 0px 0px;
    grid-template-areas:
        "i4"
        ".";
    
}

.i4 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        ". ."
        ". .";
    grid-area: i4;
}

.i1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.6fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas: "." "." ".";
    max-height: 73vh;
}

.i5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.9fr;
    gap: 0px 0px;
    grid-template-areas: "." ".";
}

.radiobuttons {
    padding: 0px;
    
    white-space: nowrap;
}

.fromto {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1.5rem;
    column-gap: 5px;
}

.dpicker {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

.mlisttitle {
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.modulelist {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    padding-right: 1.3rem;
    overflow: auto;
    max-height: 62vh;
}

.modulesearch {
   display: flex;
   justify-content: flex-end;
}

.magglass {
    display:flex;
    justify-content: end;
    align-items: center;
}

.modulesresult {

}