@*@inject AuthenticationStateProvider _authenticationStateProvider
@using System.Text;
@using Universitile01.Data;
@inject IDialogService DialogService
@using Universitile01.Models;
@using Universitile01.Services;
@inject UniversitiledatabaseContext Db
@inject TeacherService TeacherService
@using Microsoft.EntityFrameworkCore*@


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="dashboard">Uni-Versatile</a>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-0">
            <NavLink class="nav-link" href="dashboard">
                <span class="oi oi-monitor" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-0">
            <NavLink class="nav-link" href="PersonalInfo">
                <span class="oi oi-person" aria-hidden="true"></span> Personal Info
            </NavLink>
        </div>
        <div class="nav-item px-0">
            <NavLink class="nav-link" href="sessions">
                <span class="oi oi-list" aria-hidden="true"></span> Sessions
            </NavLink>
        </div>
        <div class="nav-item px-0">
            <NavLink class="nav-link" href="modules">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Modules
            </NavLink>
        </div>
    </nav>
</div>

@code {
    // This variable controls whether the navigation menu is collapsed or not
    private bool collapseNavMenu = true;

    // This property returns the CSS class for the navigation menu based on whether it is collapsed or not
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // This method toggles the value of the collapseNavMenu variable to show/hide the navigation menu
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        async Task<string> getUserName()
        {
            var user = (await authenticationStateTask).User;
            return user.Identity.Name;
        }
        async Task<string> getUserId()
        {
            var user = (await authenticationStateTask).User;
            var userid = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
            return userid;
        }
    }
}
