@page "/Admin"
<h3>Admin</h3>
@layout AdminLayout

<MudCard Outlined="true">
    <MudCardContent>
        <MudText>Modules</MudText>
        <MudText Typo="Typo.body2">Access the Courses and Modules DB tables.</MudText>
    </MudCardContent>
    <MudCardActions>
        <MudButton Href="admincoursesmodules" Variant="MudBlazor.Variant.Text" Color="Color.Primary">Access</MudButton>
    </MudCardActions>
</MudCard>

@code {

}
