.row::after {
    content: "";
    clear: both;
    display: grid;
}

[class*="col-"] {
    display: grid;
    float: left;
    padding: 15px;
    align-items: center;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 1000px) {
    /* For tablets: */
    .col-1      {   width:  8.33%;   }
    .col-2      {   width:  16.66%;  }
    .col-3      {   width:  25%;     }
    .col-4      {   width:  33.33%;  }
    .col-5      {   width:  41.66%;  }
    .col-6      {   width:  50%;     }
    .col-7      {   width:  58.33%;  }
    .col-8      {   width:  66.66%;  }
    .col-9      {   width:  75%;     }
    .col-10     {   width:  83.33%;  }
    .col-11     {   width:  91.66%;  }
    .col-12     {   width:  100%;    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: transparent;
    user-select: none;
}

[type=radio] {
    display: none;
}

.slider {
    position: relative;
    height: 300px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.slider label {
    margin: auto;
    width: 50%;
    max-width: 250px;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
}

#s6:checked ~ #slide9, #s7:checked ~ #slide10,
#s8:checked ~ #slide6, #s9:checked ~ #slide7,
#s10:checked ~ #slide8 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(-30%,0,-200px);
}

#s6:checked ~ #slide10, #s7:checked ~ #slide6,
#s8:checked ~ #slide7, #s9:checked ~ #slide8,
#s10:checked ~ #slide9 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(-15%,0,-100px);
}

#s6:checked ~ #slide6, #s7:checked ~ #slide7,
#s8:checked ~ #slide8, #s9:checked ~ #slide9,
#s10:checked ~ #slide10 {
    box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
    transform: translate3d(0,0,0);
}

#s6:checked ~ #slide7, #s7:checked ~ #slide8,
#s8:checked ~ #slide9, #s9:checked ~ #slide10,
#s10:checked ~ #slide6 {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
    transform: translate3d(15%,0,-100px);
}

#s6:checked ~ #slide8, #s7:checked ~ #slide9,
#s8:checked ~ #slide10, #s9:checked ~ #slide6,
#s10:checked ~ #slide7 {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
    transform: translate3d(30%,0,-200px);
}

#slide1 {
    background: #00BCD4
}

#slide2 {
    background: #4CAF50
}

#slide3 {
    background: #CDDC39
}

#slide4 {
    background: #FFC107
}

#slide5 {
    background: #FF5722
}

#slide6 {
    background: #00BCD4
}

#slide7 {
    background: #4CAF50
}

#slide8 {
    background: #CDDC39
}

#slide9 {
    background: #FFC107
}

#slide10 {
    background: #FF5722
}