@page "/"

<PageTitle>Dashboard</PageTitle>

<h1>Hello, world!</h1>
<body>
	<div class="container">
		<div class="i1">1</div>
		<div class="i2">2</div>
		<div class="i3">3</div>
		<div class="i4">4</div>
	</div>
</body>
<SurveyPrompt Title="How is Blazor working for you?" />
