@page "/modules"
@using Universitile01.Models;

<body>

	<AuthorizeView>
		<Authorized>
			<RadzenRow JustifyContent="JustifyContent.SpaceEvenly" AlignItems="Radzen.AlignItems.Center" Gap="0" Style="background-image:linear-gradient(180deg, rgb(83, 80, 56) 0%, #1d1d1d 90%)">
				@foreach (Module module in _sourceModule)
				{
					<RadzenRow JustifyContent="JustifyContent.Center" AlignItems="Radzen.AlignItems.Center" Gap="0">
						<RadzenColumn Size="12" Style="justify-self:center; align-self:center">
							<RadzenCard Class="rz-my-12 rz-mx-auto" Style="width:480px; height:350; background-color:#12080c">
								<RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.Stretch" Gap="1rem" Class="rz-p-4">
									<RadzenStack Gap="0" Style="align-self:center">
										<RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0"><b>Module</b></RadzenText>
										<RadzenText TextStyle="TextStyle.Body1"><b>@module.ModuleName</b></RadzenText>
										<RadzenText TextStyle="TextStyle.Body2">@module.ModuleId</RadzenText>
									</RadzenStack>
								</RadzenStack>
								<RadzenCard class="rz-background-color-danger-lighter rz-shadow-0 rz-border-radius-0 rz-p-8" style="height:185px; width:100%">
									<RadzenRow RowGap="0">
										<RadzenColumn SizeXS="8">
											<RadzenText TextStyle="TextStyle.Overline" class="rz-color-primary-light rz-display-flex rz-mt-4 rz-mb-0">School</RadzenText>
											@*<RadzenText TextStyle="TextStyle.Body1">@module.CoursesCourse.CourseName</RadzenText>*@
											<RadzenText TextStyle="TextStyle.Overline" class="rz-color-primary-light rz-display-flex rz-mt-4 rz-mb-0">Direction</RadzenText>
											<RadzenText TextStyle="TextStyle.Body1">@module.ModuleDescription</RadzenText>
										</RadzenColumn>
										<RadzenColumn SizeXS="4">
										</RadzenColumn>
									</RadzenRow>
								</RadzenCard>
								<br />
								<br />
							</RadzenCard>
						</RadzenColumn>
					</RadzenRow>
				}
			</RadzenRow>
		</Authorized>
	</AuthorizeView>
	
</body>

@code
{
	private MudCarousel<Module> _carouselModule;
	private IList<Module> _sourceModule = new List<Module>()
	{
		new Module(1, "Application Development", "desc", 1, 321),
		new Module(2, "Networks and Security", "desc", 2, 5123),
		new Module(3, "Team Project", "desc", 1, 5132),
		new Module(4, "Ethical Hacking", "desc", 2, 3251),
		new Module(5, "English", "desc", 1,3521),
		new Module(6, "Graphics 1", "desc", 2, 45231),
	};
	private int selectedIndexModule = 0;
}