@page "/modules"
@using Universitile01.Data;

<body>

	<AuthorizeView>
		<Authorized>
			<RadzenRow JustifyContent="JustifyContent.SpaceEvenly" AlignItems="Radzen.AlignItems.Center" Gap="0" Style="background-image:linear-gradient(180deg, rgb(83, 80, 56) 0%, #1d1d1d 90%)">
				@foreach (Module module in _sourceModule)
				{
					<RadzenRow JustifyContent="JustifyContent.Center" AlignItems="Radzen.AlignItems.Center" Gap="0">
						<RadzenColumn Size="12" Style="justify-self:center; align-self:center">
							<RadzenCard Class="rz-my-12 rz-mx-auto" Style="width:480px; height:350; background-color:#12080c">
								<RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="JustifyContent.Stretch" Gap="1rem" Class="rz-p-4">
									<RadzenStack Gap="0" Style="align-self:center">
										<RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-2 rz-my-0"><b>Module</b></RadzenText>
										<RadzenText TextStyle="TextStyle.Body1"><b>@module.Name</b></RadzenText>
										<RadzenText TextStyle="TextStyle.Body2">@module.Teachers</RadzenText>
									</RadzenStack>
								</RadzenStack>
								<RadzenCard class="rz-background-color-danger-lighter rz-shadow-0 rz-border-radius-0 rz-p-8" style="height:185px; width:100%">
									<RadzenRow RowGap="0">
										<RadzenColumn SizeXS="8">
											<RadzenText TextStyle="TextStyle.Overline" class="rz-color-primary-light rz-display-flex rz-mt-4 rz-mb-0">School</RadzenText>
											<RadzenText TextStyle="TextStyle.Body1">@module.School</RadzenText>
											<RadzenText TextStyle="TextStyle.Overline" class="rz-color-primary-light rz-display-flex rz-mt-4 rz-mb-0">Direction</RadzenText>
											<RadzenText TextStyle="TextStyle.Body1">@module.Direction</RadzenText>
										</RadzenColumn>
										<RadzenColumn SizeXS="4">
										</RadzenColumn>
									</RadzenRow>
								</RadzenCard>
								<br />
								<br />
							</RadzenCard>
						</RadzenColumn>
					</RadzenRow>
				}
			</RadzenRow>
		</Authorized>
	</AuthorizeView>
	
</body>

@code
{
	private MudCarousel<Module> _carouselModule;
	private IList<Module> _sourceModule = new List<Module>()
	{
		new Module("Graphics 1", "Computer Science", "Computer Science", "Grigorios Kalogiannis"),
		new Module("Application Development", "Computer Science", "Computer Science", "Andreas Plageras"),
		new Module("Networks and Security", "Computer Science", "Computer Science", "Andreas Plageras"),
		new Module("Team Project", "Computer Science", "Computer Science", "Ioannis Masmanidis"),
		new Module("Ethical Hacking", "Computer Science", "Networks and Security", "Vasileios Memos"),
		new Module("English", "Computer Science, Business, Psychology", "-", "Iren Hovanishian")
	};
	private int selectedIndexModule = 0;
}