@page "/PersonalInfo"

<PageTitle>dashboard</PageTitle>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>

<body>

    <RadzenRow JustifyContent="JustifyContent.Center"  AlignItems="Radzen.AlignItems.Center" Gap="0" Style="background-color:black">
        <RadzenColumn Size="3" Style="background-color:black;">
            <MudAvatar Style="height:100px; width:100px;">VK</MudAvatar>
        </RadzenColumn>
        <RadzenColumn Size="9" Style="background-color:black">
            Info
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="Radzen.AlignItems.Center" Gap="0" Style="background-color:black">
        <RadzenColumn Size="12" Style="background-color:black">
            <MudTabs Elevation="10" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-10" Centered="true" Color="Color.Dark">
                <MudTabPanel Text="Attendance">
                    <MudText>Content One</MudText>
                </MudTabPanel>
                <MudTabPanel Text="Grades">
                    <MudText>Content Two</MudText>
                </MudTabPanel>
            </MudTabs>
        </RadzenColumn>
    </RadzenRow>

</body>





