@page "/sessions"
@using Universitile01.Models;

<PageTitle>Sessions</PageTitle>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>

<body>

	<AuthorizeView Roles="Student, Teacher">
		<Authorized>
			<RadzenRow JustifyContent="JustifyContent.Center" AlignItems="Radzen.AlignItems.Center" Gap="0" Style="background-color:black">
				<RadzenColumn Size="12" Style="background-color:black">
					<MudDataGrid T="Session" Items="@sessions" MultiSelection="false" ReadOnly="true" ShowFilterIcons="true" SortMode="SortMode.Multiple" Style="background-image:linear-gradient(180deg, rgb(83, 80, 56) 0%, #1d1d1d 90%)" Height="62vh" FixedHeader="true">
						<ToolBarContent>
							<MudText Typo="Typo.h5" Style="color:white">Sessions Table</MudText>
						</ToolBarContent>
						<Columns>
							<PropertyColumn Property="x => x.Tittle" Sortable="true" Filterable="true" CellStyle="color:white" HeaderStyle="color:black" />
							<PropertyColumn Property="x => x.DateStart.ToShortDateString()" Title="Date" Sortable="true" Filterable="true" CellStyle="color:white" HeaderStyle="color:black" />
							<PropertyColumn Property="x => String.Concat(x.DateStart.ToShortTimeString(), str, x.DateEnd.ToShortTimeString())" Title="From - To" Sortable="false" Filterable="true" CellStyle="color:white" HeaderStyle="color:black" />
							<PropertyColumn Property="x => x.ModulesModuleId" Title="Module" Sortable="false" Filterable="true" CellStyle="color:white" HeaderStyle="color:black" />
							@*<PropertyColumn Property="x => x.Attendance" Sortable="false" Filterable="true" CellStyle="color:white" HeaderStyle="color:black" />*@
							@*<TemplateColumn CellClass="d-flex justify-start" Title="Files" Context="ctx" Sortable="false" Filterable="false" CellStyle="color:white" HeaderStyle="color:black">
								<CellTemplate>
									<MudStack Row Style="width:max-content; height:30px">
										@if (ctx.Item.Files != "" && ctx.Item.Files != null)
										{
											<MudButton Size="@Size.Small" Variant="@MudBlazor.Variant.Filled" Color="@Color.Primary">Files</MudButton>
										}
										else
										{
											<p style="justify-self:center"></p>
										}
									</MudStack>
								</CellTemplate>
							</TemplateColumn>*@
						</Columns>
					</MudDataGrid>
				</RadzenColumn>
			</RadzenRow>
		</Authorized>
	</AuthorizeView>

</body>

@code
{
	public readonly string str = " - ";

	private List<Session> sessions = new List<Session>
	{
		new Session(1, "Application Development", DateTime.Parse("01/05/2023 18:00"), DateTime.Parse("01/05/2023 19:00"), 231),
		new Session(2, "Application Development", DateTime.Parse("01/05/2023 19:00"), DateTime.Parse("01/05/2023 20:00"), 231),
		new Session(3, "Application Development", DateTime.Parse("01/05/2023 20:00"), DateTime.Parse("01/05/2023 21:00"), 231),
		new Session(4, "English", DateTime.Parse("02/05/2023 17:00"), DateTime.Parse("02/05/2023 18:00"), 452),
		new Session(5, "English", DateTime.Parse("02/05/2023 18:00"), DateTime.Parse("02/05/2023 19:00"), 452),
		new Session(2, "Application Development", DateTime.Parse("02/05/2023 19:00"), DateTime.Parse("02/05/2023 20:00"), 231),
		new Session(3, "Application Development", DateTime.Parse("02/05/2023 20:00"), DateTime.Parse("02/05/2023 21:00"), 231)

		//new Session("Team Project", "21/04/2023", 1, 4, "Presence", "files"),
		//new Session("Team Project", "21/04/2023", 2, 4, "Authorized Absence", "files"),
		//new Session("Team Project", "21/04/2023", 3, 4, "Presence", "files"),
		//new Session("Team Project", "21/04/2023", 4, 4, "Presence", "files"),
		//new Session("Application Development", "22/04/2023", 1, 3, "Authorized Absence", ""),
		//new Session("Application Development", "22/04/2023", 2, 3, "Authorized Absence", ""),
		//new Session("Application Development", "22/04/2023", 3, 3, "Authorized Absence", ""),
		//new Session("Software Engineering", "23/04/2023", 1, 2, "Authorized Absence", "files"),
		//new Session("Software Engineering", "23/04/2023", 2, 2, "Authorized Absence", "files"),
		//new Session("English", "24/04/2023", 1, 1, "Unauthorized Absence", ""),
		//new Session("Graphics 1", "25/04/2023", 1, 3, "Unauthorized Absence", "files"),
		//new Session("Graphics 1", "25/04/2023", 2, 3, "Unauthorized Absence", "files"),
		//new Session("Graphics 1", "25/04/2023", 3, 3, "Presence", "files")
	};
}